:root {
  --main-color-500: #3F51B5;
  --main-color-700: #303F9F;
  --main-accent-color-500: #FF4081;
  --main-accent-color-700: #F50057;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}

html {
  min-height: 100%;
  height: auto;
}

body {
  padding-top: 50px;
  background-color: #FAFAFA;
  font-family: Roboto;
  color: rgba(0,0,0,0.87);
  height: auto;
}

.blog-info {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar-toggle {
  border: none;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background-color: var(--main-color-700)!important;
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: left;
  padding-left: 16px;
  padding-right: 8px;
  padding-top: 24px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;
  border-radius: 2px;
}

.card h2 {
  margin: 0px;
}

.card p {
  margin: 0px;
}

.card-title {
  color: rgba(0,0,0,0.87);
}

.card-title:hover, .card-title:active, .card-title:focus {
  color: rgba(0,0,0,0.54);
  text-decoration: none;
}

.card-article {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: left;
  padding-left: 15px;
  padding-right: 8px;
  padding-top: 15px;
  padding-bottom: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;
  border-radius: 2px;
}

.card-article h2 {
  margin: 0px;
}

.card-article p {
  margin: 0px;
}

.read-more {
  float:right;
  padding-right: 5px;
  bottom: 5px;
  color: var(--main-accent-color-500);
  height: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
}

.read-more:hover {
  text-decoration: none;
  float:right;
  padding-right: 5px;
  bottom: 5px;
  height: 36px;
  background-color: rgba(0,0,0,0.13);
  color: var(--main-accent-color-700);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
}

.content {
  font-size: 16px;
  padding-right: 8px;
  margin-bottom: 16px;
  max-height: 300px;
  overflow: hidden;
}

.content-article {
  font-size: 16px;
  padding-right: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.card::after {
  content: '';
  display: block;
  clear: both;
}

.navbar-nav {
  float:right;
  padding-right: 15px;
  margin-right: 8%;;
}

.navbar {
  background-color: var(--main-color-500);
  /*border-color: var(--main-color-700);*/
  border: 0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-collapse {
  border: none;
}

.navbar-brand {
  color: #fff !important;
  margin-left: 15%!important;
}

.navbar li a {
  color: #FFF !important;
}

.nav .active a {
  background-color: var(--main-color-500) !important;
  box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
}

.subheader {
  margin: 0px;
  height: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
}

.sidebar {
  list-style-type: none;
  padding: 0px;
}

.card-sidebar {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar li {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.sidebar li:hover {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(0,0,0,0.15);
}

.sidebar a {
  list-style-type: none;
  height: 100%;
  line-height: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: rgba(0,0,0,0.87);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar a:hover {
  list-style-type: none;
  color: #555;
  text-decoration: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: var(--main-color-500);
}

.copyright {
  color: #fff;
  padding-left: 15%;
}
